# Dependencies
node_modules/
/dist/
dist/
**/dist/
**/dist/
# Environment variables
.env
.env.docker

# Build outputs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
